MYSQL_ROOT_PASSWORD=<root-password>
MYSQL_DATABASE=<database-name>
MYSQL_USER=<user-name>
MYSQL_PASSWORD=<user-password>
SECRET_KEY=<secret-key-for-flask-session-managment>
DB_HOST=<db-host>
DB_PORT=<db-port>
JWT_SECRET_KEY=<secret-key-for-jwt>