@use "@/assets/scss/_variables.scss" as *;

@mixin main {
    padding: 10px;
    // background-color: #eeeff3;
    min-height: 100%;
}

@mixin modal($width: 500px) {
    width: $width;

    @media (max-width: $breakpoint-tablet) {
        width: 90%;
    }

    @media (max-width: $breakpoint-mobile) {
        width: 100%;
    }
}

@mixin text-clamp($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin section-title {
    font-family: "Bebas Neue";   
    margin-top: 50px; 
    margin-bottom: 50px; 
}
